#helloLabel {
    -fx-font-family: 'Metropolis';
    -fx-font-size: 22px;
}
#separator1{
     -fx-background-color: black; /* Color of the separator line */
     -fx-min-height: 2px; /* Adjust the height of the separator line */
     -fx-max-height: 2px;
     -fx-cursor: default; /* Cursor style */
     -fx-separator-insets: 0; /* Set the insets to zero to remove padding */
 }